.flex-column, .flex-row {
	display: flex;
}
.inline-flex {
	display: inline-flex;
}
.flex-row {
	flex-direction: row;
}
.flex-column {
	flex-direction: column;
}

.flex-jc-center {
	justify-content: center;
}
.flex-jc-sb {
	justify-content: space-between;
}
.flex-jc-sa {
	justify-content: space-around;
}

.flex-ai-center {
	align-items: center;
}


.flex-item {
	flex: 1;
}
.flex-item2 {
	flex: 2;
}
.flex-item3 {
	flex: 3;
}
.flex-item4 {
	flex: 4;
}
.flex-item5 {
	flex: 5;
}
.flex-item6 {
	flex: 6;
}