
.h-full{
	height: 100vh;
}
.main-content{
	background-color: #E6DEDB;
}
.ellipse{
	padding:0px 9px;
	border-radius: 11px;
	border: 1px solid #000000;
	font-size: 15px;
	font-family: PingFangSC-Regular, PingFang SC;
}
.big-icon{
	 width: 32px;
	 height: 32px;
 }
 .button-hll-small{
	 height: 24px;
	 line-height: 24px;
	 background: #FF933B;
	 border-radius: 15px;
	 color: #FFFFFF;
	 font-size: 12px;
	 margin: 0;
 }
 .font-en-ak{
	 font-family: AkzidenzGroteskBQ;
 }